{% autoescape off %}
Assalomu alaykum!
Siz {{ site_name }} sahifasida foydalanuvchi hisobingiz uchun parolni oʻzgartirishni soʻraganingiz uchun sizga ushbu xat yuborilmoqda.
Iltimos, quyidagi sahifaga o'ting va yangi parolni o'rnating:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Agar siz parolni tiklashni so'ramagan bo'lsangiz, bu xatni e'tiborsiz qoldirishingiz mumkin.
Sizning foydalanuvchi nomingiz: {{ user.username }}

Saytimizdan foydalanganingiz uchun tashakkur!

{{ site_name }} jamoasi.

{% endautoescape %}