{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parolni o'zgartirish{% endblock title %}

{% block content %}
    {% if validlink %}
        <h1>Yangi parol kiriting!</h1>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="O'zgartirish">
        </form>
    {% else %}
        <h1 class="card-title text-center">Parolni tiklash amalga oshmadi!</h1>
        <p class="card-text text-center">
            Parolni tiklash havolasi allaqachon ishlatilgan yoki yaroqsiz. Parolni tiklash uchun
            <a href="{% url 'password_reset' %}" style="color: #2a8bea"> qayta urinib ko'ring. </a>
        </p>
    {% endif %}
{% endblock content %}